<%= render '/shared/dashboard/header' %>

<div class="container-fluid">
  <%= render '/shared/dashboard/flat_profile' %>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Dashboard</h1>
    <div class="container-fluid">
      <div id='calendar' ></div>
    </div>


</div>





