<ul class="nav nav-sidebar reset-margin">
  <li class="active">
    <a id="shopping-list">
      Shopping List
    </a>
    <%= render 'purchases/new' %>
  </li>
  <%  @purchases.each do |purchase| %>
    <li class="disp">
      <%= link_to purchase.name, flat_purchase_path(params[:id],purchase) %>
    </li>
  <% end %>
</ul>