<ul class="nav nav-sidebar reset-margin">
  <li class="active">
    <a id="shopping-list">
      Shopping List
    </a>
    <%= render 'purchases/new' %>
  </li>
  <%  @purchases.each do |purchase| %>
    <li>
      <%= purchase.name %>
    </li>
  <% end %>
</ul>