<h4>Shopping List</h4>

<ul class="nav nav-sidebar">
  <li class="active"><a href="#">Shopping List</a></li>
  <%  @purchases.each do |purchase| %>
    <li>
      <%= purchase.name %>
    </li>
  <% end %>
</ul>