<ul class="nav nav-sidebar reset-margin">
  <li class="active">
    <a id="shopping-list">
      Shopping List
    </a>
    <%= render 'purchases/new' %>
  </li>
  <%  @purchases.each do |purchase| %>
    <li class="disp">
      <table>
        <tr>
          <td class="col-sm-3">
            <%= link_to purchase.name, flat_purchase_path(params[:id],purchase) %>
          </td>
          <td class="col-sm-9 navbar-form">
            <%= render 'purchases/edit' %>
          </td>
        </tr>

      </table>

    </li>
  <% end %>
</ul>