// Place all the styles related to the bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.small-input.form-control{
  width: 100px;
}
.small-input.form-control:first-child{
  margin-left: 30px;
}
.table-balances{
  .user-img{
    margin-top: 10px;
  }
  th{
    width: 60%;
    text-align: center;
  }
  & th:first-child{
    width: 20%;
  }
  & th:last-child{
    width: 20%;
  }
  .text-center{
    font-size: 1.2em;
  }
  .glyphicon{
    color: orange;
    margin: 0 -5px 0 -6px;
    font-size: 2.5em;
  }
}

@mixin mirror($x, $y) {
  -moz-transform: scale($x, $y);
  -webkit-transform: scale($x, $y);
  -o-transform: scale($x, $y);
  -ms-transform: scale($x, $y);
}
button .glyphicon.rotate180{
  @include mirror(-1,1);
  transform: scale(-1, 1);
}
.navbar-header button{

}