// Place all the styles related to the bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.small-input.form-control{
  width: 100px;
}
.small-input.form-control:first-child{
  margin-left: 30px;
}
table{
  border-spacing: 0;

}
.table-responsive{
  border-spacing: 0;

}
.table-bills{
  background-color: rgba(255,255,255,.35);
  color: white;
  border: 1px solid #dddddd;
  thead{
    background-color: rgba(255,255,255,.35);
    color: white;
    border: 0;
  }
}
.table-balances{
  background-color: rgba(255,255,255,.35);
  color: white;
  border: 1px solid #dddddd;
  thead{
    background-color: rgba(255,255,255,.35);
    color: white;
  }
  tr{
    & td:last-child{
      .user-img{
        margin-right: 35px;
      }
    }
  }
  .user-img{
    margin-top: 10px;
    margin-left: 35px;
  }
  th{
    width: 60%;
    text-align: center;
  }
  & th:first-child{
    width: 20%;
  }
  & th:last-child{
    width: 20%;
  }
  .text-center{
    font-size: 1.2em;
  }
  .glyphicon{
    color: grey;
    margin: 0 -6px 0 -6px;
    font-size: 2.5em;
  }
}

@mixin mirror($x, $y) {
  -moz-transform: scale($x, $y);
  -webkit-transform: scale($x, $y);
  -o-transform: scale($x, $y);
  -ms-transform: scale($x, $y);
}
button .glyphicon.rotate180{
  @include mirror(-1,1);
  transform: scale(-1, 1);
}
.inline{
  display: inline-block;
}
h2.sub-header{
  color: white;
  border: 1px solid #dddddd;
  padding: 5px 20px 5px 20px;
}
#prev-month, #month, #next-month{
  margin-bottom: 5px;
}
#bill-new{
  background-color: transparent;
  border: 1px solid #dddddd;

}

#new_bill{
  padding: .5em 0 .5em 0;
}