<div class="col-sm-3 col-md-2 col-xs-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Your flat</a></li>
    <li><%= @flat.name %></li>
    <li><%= @flat.address %></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Flat mates</a></li>
    <% @users.each do |user| %>
      <li>
        <%= user.name %>
      </li>
    <% end %>
  </ul>
</div>