<header class="nav-tabs navbar-fixed-top" role="tablist">
  <div class="container-fluid">
    <nav class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Happy flatmates', :root , class: "navbar-brand", id: "nav-header"%>
      <span class="navbar-brand" id="nav-header">Dashboard</span>
    </nav>
    <nav class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Your flat", flat_path(@flat.id), id: "nav-header"  %></li>
        <li><%= link_to "Your bills", flat_bills_path(@flat.id),  id: "nav-header"%></li>
        <li><%= link_to"Profile", user_path(1),id: "nav-header" %></li>
      </ul>
    </nav>
  </div>
</header>